<div id="aboutContainer" class="container">

  <h1>All about the app.</h1>
  <p>The sh-sh-sh-shopping list app was developed to help
      with your everyday shopping needs. Take control of your
      shopping list by:
      <ul>
          <li>Create and manage multiple shopping lists</li>
          <li>Add popular items to your lists or create your own</li>
          <li>Make changes to your shopping lists as needed</li>
          <li>If necessary, delete your items or lists</li>
      </ul> 
  </p>
    <div id="login-link" class="text-right">
                     <a href="/register" class="text-info">Get Started</a>
    </div>

</div>

