<div class="adminPortalTop">
  <div class="regLogo">
      <img src="/small-logo.png" alt="Sh-sh-sh-Shopping logo">
  </div>
  <h1 style="text-align: center;">Admin Portal</h1>
  <ol style="text-align: center;">
    <li>To set a new username, fill in "New Username" field and press the corresponding User's "Change Username" button.</li>
    <li>To set a password to default, press the "Change password" button for a User.  Their password becomes their username.</li>
    <li>To set a password, fill in the "New Password" field and press the corresponding User's "Change Password" button.</li>
    <li>To delete a User, press the "Delete User" button. This is NOT reversible.</li>
    <li>To make a User an Admin or an Admin a User, press the corresponding User's "Flip Permission Level" button.</li>
  </ol>
</div>

<div id="modifyUser" class="row">
    <form id="pickUsernameForm">
      <fieldset>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="userName">New Username: </label>
          <div class="col-sm-6">
            <input id="usernameInput" class="form-control" type="text" name="userName" placeholder="new username">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="password">New Password: </label>
          <div class="col-sm-6">
            <input id="passwordInput" class="form-control" type="password" name="password" placeholder="new password">
          </div>
        </div>
      </fieldset>
    </form>
</div>

<div id="resultsArea" class="row">
    <table>
      <thead>
        <tr>
          <th>userId</th>
          <th>Username</th>
          <th>Permission Level</th>
          <th>Make a change</th>
        </tr>
      </thead>
      <tbody id="tableBody">
      </tbody>
    </table>
    <span id="postResults"></span>
    {{results}}
  </div>
</div>


<script src="admin-portal.js"></script>