<h1 class="form">Reset Usernames and Passwords</h1>

<div class="regLogo">
    <img src="/small-logo.png" alt="Sh-sh-sh-Shopping logo">
</div>

{{!-- <form id="pickUsernameForm" class="form">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="chooseUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose Username</button>
        <div class="dropdown-menu">
            <div class="dropdown-item"> Item 1</div>
            <div class="dropdown-item"> Item 1</div>
            <div class="dropdown-item"> Item 1</div>
            <div class="dropdown-item"> Item 1</div>
        </div>
    </div>
</form> --}}

<div class="row">
    <form id="pickUsernameForm">
      <fieldset>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="name">Username: </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="name" placeholder="workout name" required = "required">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="name">First Name </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="reps" placeholder="# of reps">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2" for="name">Last Name: </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="weight" placeholder="weight (number)">
          </div>
        </div>
        <button id="setUserNameButton" class="btn btn-primary" type="submit" value="userName">Change Username</button>
        <button id="setPasswordButton" class="btn btn-warning" type="submit" value="password">Change Password</button>
      </fieldset>
    </form>
</div>

<div id="resultsArea" class="row">
    <table>
      <thead>
        <tr>
          <th>userId</th>
          <th>Username</th>
          <th>Make a change</th>
        </tr>
      </thead>
      <tbody id="tableBody">
      </tbody>
    </table>
    <span id="postResults"></span>
    {{results}}
  </div>
</div>



<form id="resetUsernameForm" class="form">
    <h3 class="text-center text-info">Change a Username</h3>
    <div class="form-group">
        <label for="newUsername" class="text-info">New Username: </label><br>
        <input type="text" name="newUsername" id="newUsername" placeholder="new username" class="form-control" required>
    </div>
</form>

<form id="resetPasswordForm" class="form">
    <h3 class="text-center text-info">Change a Password</h3>
    <div class="form-group">
        <label for="newPassword" class="text-info">Password: </label><br>
        <input type="text" name="newPassword" id="newPassword" placeholder="new password" class="form-control" required>
    </div>
</form>

<script src="admin-portal.js"></script>