<div class="adminPortalTop">
  <div class="regLogo">
      <img src="/small-logo.png" alt="Sh-sh-sh-Shopping logo">
  </div>
  <h1 style="text-align: center;">Admin Portal</h1>
</div>

<div id="modifyUser" class="row">
    <form id="pickUsernameForm">
      <fieldset>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="userName">New Username: </label>
          <div class="col-sm-6">
            <input id="usernameInput" class="form-control" type="text" name="userName" placeholder="new username">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="password">New Password: </label>
          <div class="col-sm-6">
            <input id="passwordInput" class="form-control" type="password" name="password" placeholder="new password">
          </div>
        </div>
      </fieldset>
    </form>
</div>

<div id="resultsArea" class="row">
    <table>
      <thead>
        <tr>
          <th>userId</th>
          <th>Username</th>
          <th>Make a change</th>
        </tr>
      </thead>
      <tbody id="tableBody">
      </tbody>
    </table>
    <span id="postResults"></span>
    {{results}}
  </div>
</div>


<script src="admin-portal.js"></script>