<div class="regLogo">
    <img src="/small-logo.png" alt="Sh-sh-sh-Shopping logo">
</div>

<h1 style="text-align: center;">Admin Portal</h1>

<div id="modifyUser" class="row">
    <form id="pickUsernameForm">
      <fieldset>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="userName">Username: </label>
          <div class="col-sm-6">
            <input class="form-control" type="text" name="userName" placeholder="username" required = "required">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="firstName">First Name </label>
          <div class="col-sm-6">
            <input class="form-control" type="text" name="firstName" placeholder="first name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="lastName">Last Name: </label>
          <div class="col-sm-6">
            <input class="form-control" type="text" name="lastName" placeholder="last name">
          </div>
        </div>
        <div class="userModButtons form-group row">
          <button id="setUserNameButton" class="btn btn-primary" type="submit" value="userName">Change Username</button>
          <button id="setPasswordButton" class="btn btn-warning" type="submit" value="password">Change Password</button>
          <button id="deleteUserButton" class="btn btn-danger" type="submit" value="delete">Delete User</button>
        </div>
      </fieldset>
    </form>
</div>

<div id="resultsArea" class="row">
    <table>
      <thead>
        <tr>
          <th>userId</th>
          <th>Username</th>
          <th>Make a change</th>
        </tr>
      </thead>
      <tbody id="tableBody">
      </tbody>
    </table>
    <span id="postResults"></span>
    {{results}}
  </div>
</div>


<script src="admin-portal.js"></script>