<h1>I'm the edit shopping list page</h1>


 <form action="/edit-list" method="POST"> 
  <fieldset>
    <label for="shoppingListName">Shopping List Name:</label>
    <input type="text" id="shoppingListName" name="shoppingListName">
    
    <br>
    <br>
    <br>

<div>
    <table>
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each context}}
            <tr>
                <td>{{ itemID }}</td>
                <td>{{ itemName }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


    <label for="addItem">+ Item</label>
    <input type="text" id="addItem" name="addItem">

    <button type="button" class="btn btn-success">Add Item</button>

  </fieldset>
  

</form>