<h1>I'm the edit shopping list page</h1>


 <form action="/edit-list" method="POST"> 
  <fieldset>
    <label for="shoppingListName">Shopping List Name:</label>
    <input type="text" id="shoppingListName" name="shoppingListName">
    
    <br>
    <br>
    <br>

    <uL>
      {{#each Items}}
      <ul>{{this.itemName}}</ul>
      <button type="button" class="editItem btn btn-warning" id="editItem" data-id="{{this.itemID}}">
        <<i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      <button type="button" class="deleteItem btn btn-warning" id="deleteItem" data-id="{{this.itemID}}">
        <i class="fa fa-trash" aria-hidden="true"></i></button>
      {{/each}}
    </uL>>

    <label for="addItem">+ Item</label>
    <input type="text" id="addItem" name="addItem">

    <button type="button" class="btn btn-success">Add Item</button>

  </fieldset>
  

</form>