<!-- Main Div for Tiles-->
{{!-- <div>

    <div id=""></div>






</div> --}}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Sh-sh-sh-Shopping</h1>
    <p class="lead">Your last, best hope for organizing your shopping lists.</p>
  </div>

  <div>
      <p>Bacon ipsum dolor amet dolore pork loin deserunt ribeye beef ribs ground
         round tongue. Fugiat ut ad, chislic bresaola mollit lorem ex quis 
         pancetta. Kielbasa in doner alcatra velit pastrami, ground round ham 
         hock pork chop spare ribs nostrud. Corned beef nulla ball tip, leberkas 
         picanha ut ea fugiat. Id ex tongue consectetur commodo andouille 
         occaecat porchetta, culpa brisket sed ground round shankle voluptate. 
         Aliqua t-bone spare ribs, frankfurter jerky aliquip veniam. Bresaola 
         et culpa qui lorem alcatra short loin in beef ribs ex.</p>

      <p>Culpa cow spare ribs esse veniam t-bone. Adipisicing aliquip jerky 
         consequat sausage, pork chop irure turkey landjaeger minim. Ball tip
         rump swine aute, bacon turkey ham. Velit ut voluptate tail doner 
         brisket filet mignon ham strip steak kevin mollit short ribs chicken. 
         Pancetta capicola hamburger, pig adipisicing pork chop pastrami 
         turkey aliqua sirloin sed in occaecat frankfurter. Andouille t-bone 
         sausage, spare ribs non id anim esse magna pariatur picanha sint. 
         Pig pariatur officia boudin ribeye.</p>
  </div>
</div>

<script src="home.js"></script>