
<div class="row">
    <div class="col-sm-6">
        <div class="card" style="height:200px; width: 200px;">
            <img class="card-img-top" src="/images/apple.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Apple</h4>
                <button type="button" class="btn btn-success">Add Item</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="height:200px; width: 200px;">
            <img class="card-img-top" src="/images/salmon.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Salmon</h4>
                <button type="button" class="btn btn-success">Add Item</button>
            </div>
        </div>
    </div>
</div>