<h1>I'm the registration page.</h1>

 <form action="/register" method="POST"> 
 <fieldset>

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" placeholder="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="password" required><br><br>
    <input type="submit" value="Submit">

 </fieldset>
  

</form>
