
<div id="regContainer" class="container">
  <div class="row">
    <div class="mx-auto">
        <div class="regMsg"><h1>Welcome</h1>
        </div>
        <div class="regLogo"><img src="/small-logo.png" alt="Sh-sh-sh-Shopping logo">
        </div>
        <div>
            <form action="/register" method="POST"> 
                <fieldset>
                <div id="regRequired">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" placeholder="username" required><br>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" placeholder="password" required><br>
                </div>
                <div>
                    <p>(optional)</p>
                    <label for="firstName">First Name:</label><br>
                    <input type="text" id="firstName" name="firstName" placeholder="first name"><br>
                    <label for="lastName">Last Name:</label><br>
                    <input type="text" id="lastName" name="lastName" placeholder="last name"><br>
                        
                    <input type="hidden" id="dateJoined" name="dateJoined" value="2020-08-01"><br>
                </div>
                <div>
                    <input type="radio" id="admin" name="userType" value="Admin" />
                    <label for="admin">Admin</label>
                    <input type="radio" id="user" name="userType" value="User" />
                    <label for="user">User</label><br /><br />
                    <input type="submit" value="Submit">
                </div>
                </fieldset>
            </form>
        </div>
    </div>
  </div>
</div>
