
<div id="regContainer" class="container">
    <span class="regMsg"><h1>Welcome</h1></span>
    <span class="regLogo"><img src="/small-logo.png" alt="Sh-sh-sh-Shopping logo"></span>
    <form action="/register" method="POST"> 
        <fieldset>

            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" placeholder="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="password" required><br>
            <label for="firstName">First Name:</label><br>
            <input type="text" id="firstName" name="firstName" placeholder="First Name"><br>
            <label for="lastName">Last Name:</label><br>
            <input type="text" id="lastName" name="lastName" placeholder="lastName"><br>
            <label for="dateJoined">Date Joined:</label><br>
            <input type="text" id="dateJoined" name="dateJoined" placeholder="dateJoined"><br>
            <input type="radio" id="admin" name="userType" value="Admin" />
            <label for="admin">Admin</label>
            <input type="radio" id="user" name="userType" value="User" />
            <label for="user">User</label><br /><br />
            <input type="submit" value="Submit">

        </fieldset>
    

    </form>
</div>
