<link rel="stylesheet" src="public/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<h1>All my shopping lists</h1>

{{!-- {{rows}} --}}

<p>Username: <!-- TO DO--></p>


<p>Shopping List Name:<!-- TODO--></p>


{{#each context}}
<div class="row text-center flex-wrap"></div>
<div class="col-md-3 col-sm-6">
    <div class="caption">
        <h4>{{ listName }} </h4>
    </div>
    <p>
        <a href="/chooselist" class="btn btn-primary">View List</a>
    </p>
        
    
<!--<div class="shopping_list_box">

    <form action="/chooselist" method="GET">
        <button type="submit" class="btn btn-info">
            <p> Name: {{listName}} </p>
        </button>
    </form>

<!--</div>-->
    </div>
</div>
{{/each}}



</form>

<section>
        <h2> Delete a shopping list by listID & userID: </h2>
        <form>
        <b>listID:</b>
        <input type="number" name="listID" id="delete_shopping_list_listID" required>
        <br />
        <b>userID:</b>
        <input type="number" name="userID" id="delete_shopping_list_userID" required>
        <br />
        <input type="submit" id="delete_shopping_list" name="delete_shopping_list" value="delete_shopping_list">
        </form>
    </section>


<form action="/edit-list" method="GET">
    <fieldset>
        <input type="submit" act name="editList" value="Edit Shopping List" />
    </fieldset>
</form>


<script src="shoppinglist.js">
</script>

