<h1>Shopping List View</h1>

{{!-- {{rows}} --}}

<p>Username: <!-- TO DO--></p>


<p>Shopping List Name:<!-- TODO--></p>


<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each context}}
            <tr>
                <td>{{ itemName }}</td>
                <td>{{ quantity }}</td>
                <!--<td>{{ itemNote }}</td>-->
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>




<form action="/defaultlist" method="get">
    <button type="submit" class="btn btn-primary">Add New Items in Default List</button>
</form>

<br>
<br>
<br>


<!-- Add item to List form -->

<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
<form action="/save" method="post">
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="itemName" class="form-control" placeholder="Item Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="quantity" class="form-control" placeholder="Quantity" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="itemNote" class="form-control" placeholder="Description" required>
                    </div>                   
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button> 
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Item in List Form -->

<form action="/update" method="put">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="quantity" class="form-control" placeholder="Quantity" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="itemNote" class="form-control" placeholder="Description" required>
                    </div>                   
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button> 
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Item from List Form -->

<form id="add-row-form" action="/delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLebel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Delete Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aira-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <strong>Are you sure you want to delete this item?</strong>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="shopItemID" class="form-control" required>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>


<section>
        <h2> Delete a shopping list by listID & userID: </h2>
        <form>
        <b>listID:</b>
        <input type="number" name="listID" id="delete_shopping_list_listID" required>
        <br />
        <b>userID:</b>
        <input type="number" name="userID" id="delete_shopping_list_userID" required>
        <br />
        <input type="submit" id="delete_shopping_list" name="delete_shopping_list" value="delete_shopping_list">
        </form>
    </section>


<form action="/edit-list" method="GET">
    <fieldset>
        <input type="submit" act name="editList" value="Edit Shopping List" />
    </fieldset>
</form>


<script src="shoppinglist.js">
</script>

