<h1>All my shopping lists</h1>

{{!-- {{rows}} --}}

<p>Username: <!-- TO DO--></p>


<p>Shopping List Name:<!-- TODO--></p>
<ul>Items
{{#each context}}
    <li>{{itemName}} : {{quantity}}</li>
{{/each}}
</ul>


</form>

<section>
        <h2> Delete a shopping list by listID & userID: </h2>
        <form>
        <b>listID:</b>
        <input type="number" name="listID" id="delete_shopping_list_listID" required>
        <br />
        <b>userID:</b>
        <input type="number" name="userID" id="delete_shopping_list_userID" required>
        <br />
        <input type="submit" id="delete_shopping_list" name="delete_shopping_list" value="delete_shopping_list">
        </form>
    </section>


<script src="shoppinglist.js">
</script>

