<h1>All my shopping lists</h1>

{{!-- {{rows}} --}}

<p>Username: <!-- TO DO--></p>


<p>Shopping List Name:<!-- TODO--></p>
<ul>Items
{{#each data}}
    <li>{{this.itemName}} : {{this.quantity}}</li>
{{/each}}
</ul>

