<h1>All my shopping lists</h1>

{{!-- {{rows}} --}}

<p>Username: {{fakeData.name}}</p>


<p>Shopping List Name: {{this.listName}}</p>
<ul>Items
{{#each this.listItems}}
    <li>{{this}}</li>
{{/each}}
</ul>




<h2>Add Shopping List</h2>

 
<form action="/edit-list" method="POST"> 
 <fieldset>

    <label for="listName">List name:</label><br>
    <input type="text" id="listName" name="listName" placeholder="listName" required><br>
    
    <input type="submit" value="Submit">

 </fieldset>
  

</form>