<h1>All my shopping lists</h1>

{{!-- {{rows}} --}}

<p>Username: {{fakeData.name}}</p>


<p>Shopping List Name: {{this.listName}}</p>
<ul>Items
{{#each this.listItems}}
    <li>{{this}}</li>
{{/each}}
</ul>

