<h1>All my shopping lists</h1>

<p>Username: {{context.userName}}</p>



{{#each context}}

<div class="shopping_list_box">

    <form action="/shoppinglist" method="GET">
        <fieldset>
            <input type="hidden" id="nameList" name="nameList" value="{{nameList}}" />
            <button type="submit" class="btn btn-info">
                <p>
                    Name: {{nameList}}<br>
                    >Date:{{listCreated}}
                </p>
            </button>
        </fieldset>

    </form>

</div>

{{/each}}

<div class="shopping_list_box">
    <form action="/createlist" method="GET">
        <button type="button" class="btn btn-info">
            <p> Add List + </p>
        </button>
    </form>

</div>


<h2>Add new Shopping List </h2>
<form action="/shoppinglistovw" method="post">

    <label>
        List Name (Required):
        <input type="text" name="nameList" required>
    </label>
    <label>
        List Date (Optional):
        <input type="date" name="date">
    </label>
    <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Add New Shopping List +">
</form>






