<h1>User Landing Page</h1>

<p>Username: {{context.userName}}</p>
<p>UserID: {{context.userID}} </p>

<form action="/shoppinglistovw" method="get">
    <fieldset>
        <input type="hidden" id="userID" name="userID" value="{{context.userID}}" />
        <input type="submit" value="Go to My Shopping Lists" />

    </fieldset>
</form>

<form action="/userpref" method="get">
    <fieldset>
        <input type="submit" value="User Preferences" />

    </fieldset>
</form>

<form action="/createlist" method="get">
    <fieldset>
        <input type="submit" value="Create New Shopping List" />

    </fieldset>

</form>


